<%= form_for @user do |f| %>
	<div class="form-group col-xs-4">
	  <%= render 'shared/error_messages' %>
		<%= f.label :name ,"Your Name:"%>
		<%= f.text_field :name , class:"form-control"%><br/>
		<%= f.label :email ,"Your Email:"%>
		<%= f.email_field :email , class:"form-control"%><br/>
		<%= f.label :password ,"Password:"%>
		<%= f.password_field :password , class:"form-control"%><br/>
		<%= f.label :password_confirmation ,"Confirmation:"%>
		<%= f.password_field :password_confirmation , class:"form-control"%><br/>
		<%= f.submit 'Sign up',class:"btn btn-primary col-xs-4"%>
	</div>
<% end %>
