<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
		  <%= gravatar_for @user,size:40 %>
			<h1>
					<%= @user.name %><br/>
					<%= @user.email %><br/>
					<%= @user.created_at %><br/>
					<%= Time.now %>
			</h1>
		</section>
	</aside>
	<div class="col-md-6">
		<% if @user.microposts.any? %>
			<h3>Microposts (<%= @user.microposts.count %>)</h3>
			<%= render @microposts %>
			<%= will_paginate @microposts %>
		<% end %>
	</div>
</div>

