<div class="micropost">
	<span class="user">
		<%= gravatar_for micropost.user,size:20 %>
		<%= link_to micropost.user.name,micropost.user %>
	</span>
	<span class="content">
		<%= micropost.content%>
	</span>
	<%= image_tag micropost.picture.url,height: '120', width: '180' if micropost.picture? %>
	<p class="micropost-footer">
			<%= link_to '','#',class:"glyphicon glyphicon-share-alt" %>
			<%= link_to "(#{micropost.comments.count})",'#',class:"glyphicon glyphicon-option-horizontal" ,data:{id:micropost.id}%>
			<%= link_to '','#',class:"glyphicon glyphicon-thumbs-up" %>
			<% if login? && micropost.user.id == current_user.id %>
				<%= link_to '',micropost_path(micropost),class:"glyphicon glyphicon-trash",method: :delete,data:{confirm:'Sure?'} %>
			<% end %>
	</p>
</div>