<div class="micropost">
  <%= content_tag :span,class:"user" do %>
    <%= gravatar_for micropost.user,size:20 %>
    <%= link_to micropost.user.name,micropost.user %>
  <% end %>

  <%= content_tag(:span,micropost.content,class:"content") %>
  <% unless micropost.source_id.nil? %>
    <%= content_tag(:span,class:"content") do %>
      <%= render 'microposts/micropost',micropost: micropost.source%> #FIXME
    <% end %>
  <% end %>

  <%= image_tag micropost.picture.url,height: '120', width: '180' if micropost.picture? %>
  <p class="micropost-footer">
      <%= link_to '','#myModal',class:"glyphicon glyphicon-share-alt" ,data:{toggle:"modal",id:micropost.id}%>

      <%= link_to "(#{micropost.comments.count})",'#',class:"glyphicon glyphicon-option-horizontal" ,data:{id:micropost.id}%>

      <%= link_to "(#{micropost.thumbup})",'#',class:"glyphicon glyphicon-thumbs-up" ,data:{id:micropost.id} %>

      <% if login? && micropost.user.id == current_user.id %>
        <%= link_to '',micropost_path(micropost),class:"glyphicon glyphicon-trash",method: :delete,data:{confirm:'Sure?'} %>
      <% end %>
  </p>
</div>